<section class="card post-preview m-3">
    <div class="card-header d-flex flex-row justify-content-between">
        {{startLocation}}
    </div>
    <div class="card-body">
        <p class="post-body"></p>
    </div>
</section>