<h1>Where Can We Take You?</h1>
<h2 class="tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo asperiores enim a!</h2>

<button class="btn btn-primary">Create a new trip</button>
<button class="btn btn-secondary">Join</button>