<section class="login">
    <h1>Sign Up</h1>
    <form class="signup-form">
        <label for="signup-username" class="form-label">Username: </label>
        <input type="text" id="signup-username" name="signup-username" autocomplete = "username" class="form-control">
        <label for="signup-email" class="form-label">Email: </label>
        <input type="email" id="signup-email" name="signup-email" autocomplete="email" class="form-control">
        <label for="signup-password" class="form-label">Password: </label>
        <input type="password" id="signup-password" name="signup-password" autocomplete="new-password" class="form-control">
        <label for="confirm-password" class="form-label">Confirm Password: </label>
        <input type="password" id="confirm-password" name="confirm-password" autocomplete="new-password" class="form-control">
        <button type="submit" id="signupButton" class="btn btn-outline-primary m-1">Sign Up</button>
    </form>
    <p><a href="/user/login">Log in instead</a></p>
</section>
<script src="/js/signup.js"></script>